html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to bottom, #51aef9, #2e6bed);
    font-family: 'Open Sans', sans-serif;
}

/*********
* BUTTON *
*********/

.btn-v2 {
    color: #fff;
}

.btn-v2.btn-primary {
    background-color: #0378d2;
    border: 1px solid #7fc7ff;
    box-shadow: 0 2px 0 #7fc7ff;
}

.btn-v2.btn-primary:hover {
    color: #0378d2;
    background-color: #2cd2ff;
    border: 1px solid #0378d2;
    box-shadow: 0 2px 0 #0378d2;
}

/*********
* LAYOUT *
*********/

#viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#viewport #body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background: url("../img/grafismos.svg") no-repeat 50% 50%;
}

#viewport #main {
    flex: 1;
    padding: 12px 10px;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

#viewport .page #main {
    background: #f2f2f2;
}

#viewport .spacer {
    flex: 1;
}

/***********
* SIDEMENU *
***********/

#viewport #sidemenu {
    position: absolute;
    top: 0;
    bottom: 30px;
    right: 0;
    width: 200px;
    background: #f00;
}

#viewport #sidemenu .wrapper {
    position: fixed;
    background: #f00;
}

/*********
* HEADER *
*********/

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #03e4ff;
}

#header .logo-cliente {
    border-radius: 2px;
}

#header #botao-alterar-periodo {
    border-radius: 50%;
    border: 1px solid #7fc7ff;
    background-color: #0378d2;
    box-shadow: 0 2px 0 #7fc7ff;
}

#header #botao-alterar-periodo:hover {
    color: #0378d2;
    background-color: #2cd2ff;
    border: 1px solid #0378d2;
    box-shadow: 0 2px 0 #0378d2;
}

#header .box {
    padding: 12px 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-width: 0;
}

#header .box > * {
    margin-right: 8px;
}

#header .box > *:last-child {
    margin-right: 0;
}

#header .full-size {
    flex: 1;
}

#header .separator {
    width: 1px;
    background: #03e4ff;
}

#header .grupo-horizontal {
    display: flex;
    justify-content: space-between;
    min-width: 0;
}

#header .grupo-horizontal > * {
    margin-right: 4px;
}

#header .grupo-vertical {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

#header .grupo-vertical > * {
    margin-bottom: 4px;
}

#header .grupo-vertical > *:last-child {
    margin-bottom: 0;
}

#header .container-escuro {
    background-color: #2c92ec;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header .justify-center {
    justify-content: center;
}

#header .texto-azul {
    color: #6deaff;
    font-weight: 400;
}

#header .texto-padrao {
    text-transform: none;
}

#header .no-margin {
    margin: 0 !important;
}

#header #avatar {
    margin-left: 8px;
    margin-right: 10px;
    flex-grow: 0;
    flex-basis: 1;
}

#header .btn-v2 {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    font-size: 20px;
}

#header .btn-v2 .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 12px;
    font-size: 10px;
    color: #8e7205;
    background-color: #fecd04;
}

#header .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header .texto-pequeno {
    font-size: 11px;
}

/*************
* NAVIGATION *
*************/

#navigation {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #03e4ff;
}

#navigation .btn-v2 {
    padding: 4px 8px;
}

#navigation #breadcrumbs,
#navigation #area-busca {
    flex: 1;
}

#navigation #breadcrumbs {
    margin-bottom: -8px;
}

#navigation #breadcrumbs .btn-v2 {
    margin-bottom: 8px;
    margin-right: 4px;
}

#navigation #breadcrumbs .btn-v2:last-child {
    margin-right: 0;
}

#navigation .box {
    padding: 12px 10px;
}

#navigation #area-busca {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-left: 65px;
}

#navigation #area-busca > * {
    margin-right: 8px;
}

#navigation #area-busca > *:last-child {
    margin-right: 0;
}

#navigation #barra-busca {
    position: relative;
    flex: 1;
}

#navigation #barra-busca input {
    flex: 1;
    height: 30px;
    color: #fff;
    font-size: 14px;
    background: #4299e6;
    border: 1px solid #03e4ff;
    padding-right: 30px;
    box-shadow: inherit;
}

#navigation #barra-busca input:active,
#navigation #barra-busca input:focus {
    color: #505767;
    background: #fff;
}

#navigation #barra-busca input::placeholder {
    color: #94cbfc;
}

#navigation #barra-busca input:active::placeholder,
#navigation #barra-busca input:focus::placeholder {
    color: #999;
}

#navigation #barra-busca i {
    color: #03e4ff;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

/*************
* BOTTOM BAR *
*************/

#viewport #bottom-bar {
    border-top: 1px solid #03e4ff;
    padding: 12px 10px;
    padding-bottom: 0;
    background: rgba(33, 89, 210, 0.6);
}

#viewport #bottom-bar > * {
    flex: 1;
}

#viewport #bottom-bar .header {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

#viewport #bottom-bar .header i {
    margin-right: 8px;
}

#viewport #bottom-bar .header .btn-v2 {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 15px;
}

#viewport #bottom-bar .body .btn-v2 {
    margin-bottom: 12px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#viewport #bottom-bar .body .btn-v2 > div {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#viewport #bottom-bar .body .btn-v2 > i {
    padding-left: 5px;
}

/*********
* FOOTER *
*********/

#viewport #footer {
    border-top: 1px solid #03e4ff;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
    color: #9be0ff;
}

#viewport #footer a {
    color: #9be0ff;
    text-decoration: underline;
}

#viewport #footer a:hover {
    color: #fecd04;
}

#viewport #footer > * {
    margin-right: 8px;
}

#viewport #footer > *:last-child {
    margin-right: 0;
}

#viewport #footer .separator {
    width: 1px;
    background: #9be0ff;
    height: 12px;
}

#viewport #footer #system-version {
    flex: 1;
    text-align: right;
}

#viewport .page #footer {
    color: #777777;
    border-color: #d8d8d8;
    background: #f2f2f2;
}

#viewport .page #footer .separator {
    background: #777777;
}

#viewport .page #footer a {
    color: #777777;
}

/**********
* MODULES *
**********/
#modulos .modulo {
    padding-bottom: 12px;
}

#modulos .image {
    position: relative;
}

#modulos .modulo .image .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 10px;
    font-size: 9px;
    text-transform: uppercase;
    background-color: #fecd04;
    color: #927405;
    border: 1px solid #c79f00;
    box-shadow: 0 2px 0 #c79f00;
}

#modulos .modulo .image .btn:hover {
    background: #8e7205;
    color: #fecd04;
    border-color: #fecd04;
    box-shadow: 0 2px 0 #fecd04;
}

#modulos .modulo img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}

#modulos .modulo .btn-v2 {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

#modulos .header {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 8px;
    display: flex;
}

#modulos .header .title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#modulos .header .badge-item {
    width: 25px;
    height: 25px;
    color: #8e7205;
    background: #fecd04;
    border: 1px solid #c79f00;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
}

#modulos .header:hover .badge-item {
    cursor: pointer;
    background: #8e7205;
    color: #fecd04;
    border-color: #fecd04;
}

/*************************
* MODULO - CONTABILIDADE *
*************************/
#modulos .modulo-contabilidade .header {
    background: linear-gradient(to bottom, #ff7f00 50%, #eb7500 50%);
}

.modulo-contabilidade .btn-v2,
.modulo-contabilidade.btn-v2 {
    background: #ff7e00;
    border-color: #ffbf49;
    box-shadow: 0 2px 0 #ffbf49;
}

.modulo-contabilidade .btn-v2:hover,
.modulo-contabilidade.btn-v2:hover {
    color: #feda10;
    background: #d36900;
    border-color: #fecd04;
    box-shadow: 0 2px 0 #fecd04;
}

/***********************
* MODULO - ARRECADACAO *
***********************/
#modulos .modulo-arrecadacao .header {
    background: linear-gradient(to bottom, #02c100 50%, #02b301 50%);
}

.modulo-arrecadacao .btn-v2,
.modulo-arrecadacao.btn-v2 {
    background: #02c100;
    border-color: #31d92f;
    box-shadow: 0 2px 0 #31d92f;
}

.modulo-arrecadacao .btn-v2:hover,
.modulo-arrecadacao.btn-v2:hover {
    color: #1dff1b;
    background: #039e02;
    border-color: #1dff1b;
    box-shadow: 0 2px 0 #1dff1b;
}

/****************************
* MODULO - RECURSOS HUMANOS *
****************************/
#modulos .modulo-recursos-humanos .header {
    background: linear-gradient(to bottom, #18bafe 50%, #00b4ed 50%);
}

.modulo-recursos-humanos .btn-v2,
.modulo-recursos-humanos.btn-v2 {
    background: #18bafe;
    border-color: #6ad3ff;
    box-shadow: 0 2px 0 #6ad3ff;
}

.modulo-recursos-humanos .btn-v2:hover,
.modulo-recursos-humanos.btn-v2:hover {
    color: #00fff6;
    background: #0791cb;
    border-color: #00fff6;
    box-shadow: 0 2px 0 #00fff6;
}

/**************************
* MODULO - GESTAO COMPRAS *
**************************/
#modulos .modulo-gestao-compras .header {
    background: linear-gradient(to bottom, #8501e4 50%, #7800cd 50%);
}

.modulo-gestao-compras .btn-v2,
.modulo-gestao-compras.btn-v2 {
    background: #8501e4;
    border-color: #c473ff;
    box-shadow: 0 2px 0 #c473ff;
}

.modulo-gestao-compras .btn-v2:hover,
.modulo-gestao-compras.btn-v2:hover {
    color: #ee6efc;
    background: #6202a8;
    border-color: #ed3fff;
    box-shadow: 0 2px 0 #ed3fff;
}

@media (max-width: 767px) {

    html, body {
        overflow: auto;
    }

    #viewport {
        display: block;
    }
    
    #viewport #body {
        display: block;
    }

    #header #area-prefeitura {
        min-width: 100%;
        order: 2;
        border-top: 1px solid #03e4ff;
    }

    #header .separator:nth-child(1) {
        display: none;
    }

    #navigation #breadcrumbs, 
    #navigation #area-busca {
        min-width: 100%;
    }

    #navigation #breadcrumbs {
        order: 2;
    }

    #navigation #area-busca {
        padding-left: 12px;
        padding-bottom: 0;
    }

    #footer .separator {
        display: none;
    }

    #footer > * {
        min-width: 100%;
        text-align: center !important;
        margin: 3px 0;
    }

}