@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l4lx2f');
  src:  url('fonts/icomoon.eot?l4lx2f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l4lx2f') format('truetype'),
    url('fonts/icomoon.woff?l4lx2f') format('woff'),
    url('fonts/icomoon.svg?l4lx2f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-assincronas:before {
  content: "\e900";
}
.icon-ico-buscar:before {
  content: "\e901";
}
.icon-ico-config:before {
  content: "\e902";
}
.icon-ico-favoritos:before {
  content: "\e903";
}
.icon-ico-historico:before {
  content: "\e904";
}
.icon-ico-home:before {
  content: "\e905";
}
.icon-ico-sair:before {
  content: "\e906";
}
.icon-ico-trocar-orgao:before {
  content: "\e907";
}
