/*
* INSTRUCOES PARA PAGINAS INTERNAS
*
* 1) ADICIONAR O BLOCO 1 PARA TORNAR O LAYOUT LIQUIDO
* 2) ADICIONAR O BLOCO 2 PARA COMPACTAR O MENU (PROVAVELMENTE VOCES VAO PRECISAR DE UM JS PARA TOGGLE ENTRE OS 2 MODOS)
*/

/*
* [INICIO] BLOCO 1
*/
#conteudo {
    padding: 0;
}

#formulario {
    max-width: inherit;
}

#formulario>.wrapper {
    padding-left: 15px;
}
/*
* [FIM] BLOCO 1
*/

/*
* [INICIO] BLOCO 2
*/

#formulario #formulario-menu,
#formulario #formulario-menu .menu {
    width: 45px;
}

#formulario #formulario-menu .menu-corpo {
    padding: 0;
}

#formulario #formulario-menu span {
    display: none !important;
}

@media (max-width: 991px) {

    #formulario #formulario-menu,
    #formulario #formulario-menu .menu {
        width: 100%;
    }

    #formulario #formulario-menu .menu li {
        width: 100%;
    }

    #formulario>.wrapper {
        padding-right: 15px;
    }

}

/*
* [FIM] BLOCO 2
*/